<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/signin" (click)="onToggleClose()">
      <mat-icon>input</mat-icon>
      <span>SIGN IN</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
      <mat-icon>account_circle</mat-icon>
      <span>SIGN UP</span>
    </a>
    <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
      <mat-icon>hotel</mat-icon>
      <span>ACCOMODATION</span>
    </a>
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
      <mat-icon>loyalty</mat-icon>
      <span>OFFERS</span>
    </a>
  </mat-nav-list>