<mat-nav-list class="sidenav-list">
  <a mat-list-item routerlink="/signin" (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>SignIn</span>
  </a>

  <a mat-list-item routerlink="/signup" (click)="onToggleClose()">
    <mat-icon>account_circle</mat-icon>
    <span>SignUp</span>
  </a>

  <a mat-list-item routerlink="/accomodation" (click)="onToggleClose()">
    <mat-icon>hotel</mat-icon>
    <span>Accomodation</span>
  </a>

  <a mat-list-item routerlink="/offers" (click)="onToggleClose()">
    <mat-icon>lotalty</mat-icon>
    <span>Offers</span>
  </a>

</mat-nav-list>