@import '~@angular/material/theming';

@include mat-core();
$style-primary: mat-palette($mat-7fdeea);
$style-accent:  mat-palette($mat-pink, A200, A100, A400);

$style-warn:    mat-palette($mat-red);

$hotel-theme: mat-light-theme($style-primary, $style-accent, $style-warn);

@include angular-material-theme($hotel-theme);




$theahotel-primary: mat-palette($thea-primary, 700, 300, 900);
$theahotel-accent:  mat-palette($thea-accent, 500, 400, 700);

$theahotel-warn:    mat-palette($mat-red);

$theahotel: mat-light-theme($theahotel-primary, $theahotel-accent, $theahotel-warn);

@import './app/navigation/navtabs/navtabs.component-theme.scss';

@include angular-material-theme($theahotel);

// Navtabs component scss file
@include navtabs-component-theme($theahotel);


///////////////////////////////////////////////////////
$thea-typography: mat-typography-config(
  $font-family:   'Rubik, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(97.54px, 32px, 400),
  $title:         mat-typography-level(61px, normal, 500),
  $subheading-2:  mat-typography-level(48.77px, normal, 400),
  $subheading-1:  mat-typography-level(34.54px, normal, 400),
  $body-2:        mat-typography-level(14.22px, normal, 500),
  $body-1:        mat-typography-level(16.26px, normal, 400),
  $caption:       mat-typography-level(12.19px, normal, 400),
  $button:        mat-typography-level(14.22px, normal, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);


@include mat-base-typography($thea-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($thea-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($thea-typography);

@include mat-core($thea-typography);



// All our styles will go here
.mat-list-option:hover, 
.mat-list-option.mat-list-item-focus, 
.mat-nav-list .mat-list-item:hover, 
.mat-nav-list .mat-list-item.mat-list-item-focus {
  background-color: mat-color($theahotel-primary, 300);
  color: mat-color($theahotel-primary, 900);
}